appdirs==1.4.4
autoflake
autopep8
beautifulsoup4
black==25.1.0
Brotli
certifi
cffi
charset-normalizer
click==8.1.8
colorama
coverage==7.8.0
docformatter
exceptiongroup
execnet==2.1.1
gitdb==4.0.12
GitPython==3.1.44
google==3.0.0
h2
hpack
hyperframe
idna
iniconfig
isort==6.0.1
libsass
markdown-it-py
mdurl
mypy-extensions==1.0.0
numpy
opentimestamps==0.4.5
opentimestamps-client==0.7.2
packaging
pandas
pandas-stubs
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.7
pluggy
psutil
pycodestyle
pycparser
pycryptodomex==3.22.0
pyflakes
Pygments
PySocks
pytest
pytest-cov==6.1.1
pytest-xdist==3.6.1
python-bitcoinlib==0.12.2
python-dateutil
pytz
PyYAML==6.0.2
requests
rich
ruamel.yaml
ruamel.yaml.clib
six
smmap==5.0.2
soupsieve
tomli
tqdm==4.67.1
types-psutil
types-pytz
types-PyYAML==6.0.12.20250402
types-requests==2.32.0.20250328
types-tqdm
typing_extensions
tzdata
untokenize
urllib3
validators
zstandard==0.23.0
