@use "../../styles/variables.scss" as *;

#not-found-div,
#not-found-div-popover {
  display: flex;

  @media (max-width: $max-mobile-width) {
    justify-content: center;
  }

  & h1 {
    color: var(--midground);
    line-height: 0.1em;
    font-variant-numeric: lining-nums;
  }

  & p {
    max-width: max-content;
    text-align-last: justify;
  }
}

img#trout-reading {
  max-width: 40%;

  @media (max-width: $tablet-breakpoint) {
    max-width: 30%;
  }
}

img#trout-reading-popover {
  max-width: 6em;
  margin-left: calc(3 * $base-margin);
}
