@use "../../styles/variables.scss" as *;

#content-meta {
  margin-top: 0;
  margin-bottom: $base-margin;
  font-size: var(--font-size-minus-1);

  & p,
  & li,
  & ul,
  & ol,
  & em,
  & strong {
    color: var(--midground);
  }

  &[show-comma="true"] {
    > span:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }

  & .ordinal-suffix {
    margin-left: -0.01rem;
    vertical-align: 0.25em; // Because not using full height numbers
    text-decoration-thickness: 0.75px; // Underline is too heavy
  }

  & a {
    color: inherit; // No link color
  }
}

#backlinks-admonition,
#post-statistics {
  li {
    margin-bottom: calc($base-margin);
  }

  ul {
    padding-left: $base-margin;
    margin-left: 0;
  }
}

#tags ul {
  color: var(--midground);
  list-style: none;
  display: block;
  padding-left: 0;
  overflow-wrap: normal;

  & a.tag-link {
    color: var(--midground);
    border-radius: none; /* no border radius */
    line-height: 1rem;
    padding: 0;
    padding-top: initial;
    padding-bottom: initial;
    background-color: transparent;
    display: block;

    #right-sidebar & {
      text-decoration: none; // Prevent underline to reduce clutter
    }
  }
}
