@use "../../styles/variables.scss" as *;

#darkmode-span {
  z-index: 100;
  position: fixed;
  top: calc(1 * $base-margin + 1.5rem + 1 * $base-margin);
  right: calc(1 * $base-margin);
  font-size: var(--font-size-minus-2);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: calc(1 * $base-margin) 0;
  padding: 0 calc(0.5 * $base-margin);
  //border-radius: 4px;
  background-color: transparent;
 // border: 1px solid var(--midground-faint);
  width: auto;
  height: 1.5rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: var(--midground);
  }

  @media all and (max-width: $max-mobile-width) {
    position: relative;
    margin: calc(0.5 * $base-margin) 0;
    flex-direction: row;
  }

  & #darkmode-toggle {
    display: none;
  }

  & #theme-toggle {
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background-color: transparent;
    margin-right: calc(0.5 * $base-margin);
    cursor: pointer;

    @media all and (min-width: $min-desktop-width) {
      margin-right: calc(0.5 * $base-margin);
      margin-bottom: 0;
      align-self: center;
    }
  }

  & #theme-label {
    color: var(--midground);
    transition: opacity 0.5s ease;
    margin: 0;
    margin-right: 0;
    flex-shrink: 0;
    font-style: italic;
    user-select: all;
    cursor: text;
    font-size: var(--font-size-minus-1);

    @media all and (max-width: $max-mobile-width) {
      margin-left: calc(0.25 * $base-margin);
    }
  }

  & svg {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    top: 0;
    fill: var(--midground);
    transition: opacity 0.1s ease;
  }
}

:root[data-theme="light"] {
  color-scheme: light;

  & #day-icon {
    opacity: 1;
    visibility: visible;
  }

  & #night-icon {
    opacity: 0;
    visibility: hidden;
  }
}

:root[data-theme="dark"] {
  color-scheme: dark;

  & #day-icon {
    opacity: 0;
    visibility: hidden;
  }

  & #night-icon {
    opacity: 1;
    visibility: visible;
  }
}

.theme-toggle-auto {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

:root[data-theme-mode="auto"] .theme-toggle-auto {
  visibility: visible;
  opacity: 1;
} 