@use "../../styles/variables.scss" as *;
@use "search.scss" as *;

.menu {
  // Applies to all links in the navbar
  & ul {
    list-style: none;
    max-height: none;
    padding-left: 0;
    background-color: var(--background);
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: calc(2 * $base-margin);
    align-items: center;

    @media all and (min-width: $min-desktop-width) {
      margin: 0;
    }

    & li {
      text-align: center;

      & > a {
        color: var(--midground);
        transition: opacity 0.5s ease-out;
        text-decoration: none;
        padding: calc(0.5 * $base-margin) calc(1 * $base-margin);
        border-radius: 4px;
        
        &:hover {
          background-color: var(--midground-faintest);
        }
      }
    }
  }

  // Desktop - horizontal layout
  @media (min-width: $min-desktop-width) {
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }

  @media (max-width: $max-mobile-width) {
    position: absolute;
    text-align: right;
    background-color: transparent;
    display: none;
    right: 0;
    top: 90%;

    &.visible {
      display: block;
    }

    li {
      background-color: var(--background);
    }

    ul {
      position: relative;
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
      clip-path: inset(0 0 -15px -15px);
      width: max-content;
      right: 0;
      flex-direction: column;
      gap: 0;
    }
  }
}

// The menu icon
.hamburger {
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  padding: 0;
  padding-left: calc(2 * $base-margin);
  background: transparent;
  border: none;
  cursor: pointer;

  & span {
    display: block;
    height: calc(0.25 * $base-margin);
    background-color: var(--midground);

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.x:nth-of-type(1) {
  transition: all 100ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 24px;

  @media all and (max-width: $mobile-breakpoint) {
    width: 23px;
  }
}

.x:nth-of-type(2) {
  transition: all 100ms ease-in-out;
  transform-origin: center;
  width: 0;
}

.x:nth-of-type(3) {
  transition: all 100ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 24px;

  @media all and (max-width: $mobile-breakpoint) {
    width: 23px;
  }
}

@media all and (max-width: $mobile-breakpoint) {
  .darkmode #night-icon {
    width: 15px;
    height: 15px;
  }

  .hamburger span {
    height: 2.5px;
  }
}

#page-title {
  margin: 0;
}

/* Center the site name under the pond video */
#page-title h2,
#navbar-left h2 {
  text-align: left;
  color: var(--midground);
  margin: 0;

  & a {
    color: inherit;
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }

  @media all and (max-width: $max-mobile-width) {
    margin-bottom: 0;
    margin-top: calc(0.5 * $base-margin);
    margin-right: calc(0.5 * $base-margin);
  }

  // Simulate an h3 on mobile. Prevent weird wrapping issues
  @media all and (max-width: $mobile-breakpoint) {
    font-size: var(--font-size-plus-2);
  }

  @media all and (min-width: $min-desktop-width) {
    margin-bottom: 0;
    margin-top: 0;
    margin-right: calc(0.25 * $base-margin);
    font-size: var(--font-size-plus-2);
  }
}

#navbar-left,
.navbar-left,
#navbar-right {
  display: flex;
  align-items: center;

  @media all and (min-width: $min-desktop-width) {
    flex-direction: row;
    align-items: center;
  }
}

#navbar-left,
.navbar-left {
  position: relative;
  flex-grow: 1;
}

#navbar-right {
  @media all and (min-width: $min-desktop-width) {
    margin-right: 0;
  }
}

@media all and (max-width: $max-mobile-width) {
  #quartz-body #navbar {
    opacity: 1;
    transition:
      transform 0.45s ease,
      opacity 0.45s ease;
    z-index: 910;

    &.shadow {
      box-shadow: 0 4px 4px 0 var(--midground-faintest);
      clip-path: inset(0 0 -1500px 0);
    }

    &.hide-above-screen {
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
    }
  }
}

#navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: calc(1 * $base-margin) 0;
  border-bottom: 1px solid var(--midground-faintest);
  margin-bottom: calc(2 * $base-margin);

  @media all and (max-width: $max-mobile-width) {
    justify-content: space-between;
    width: 100.5%; // Prevent peek-through of other elements
    flex-direction: row;
    background-color: var(--background);
  }
}

:root[data-theme="dark"] .shadow {
  @media all and (max-width: $max-mobile-width) {
    box-shadow: 0 4px 4px 0 var(--midground-faintest);
    clip-path: inset(0 0 -1500px 0);
  }
}

/*#pond-video {
  // Consistent width and spacing for both img and video
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  object-fit: contain;
}*/

/* #header-video-container {
  @media all and (min-width: $min-desktop-width) {
    width: 188px;
    height: 188px;
    min-height: 188px;
    aspect-ratio: 188 / 188;
    display: block;
  }
*/

  // static KR logo styling
#header-logo-container {
  @media all and (min-width: $min-desktop-width) {
    width: 60px;
    height: 60px;
    min-height: 60px;
    aspect-ratio: 60 / 60;
    display: block;
  }

  @media all and (max-width: $max-mobile-width) {
    width: 40px;
    height: 40px;
    min-height: 40px;
    aspect-ratio: 40 / 40;
    display: block;
  }
}

#site-logo {
  // Consistent width and spacing for both img and video
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  object-fit: contain;
}


