@use "../../styles/variables" as *;

.toc-title {
  margin-top: 0;
  margin-bottom: calc(0.5 * $base-margin);

  & a {
    text-decoration: none;
  }
}

ul.overflow,
ol.overflow {
  overflow-y: auto;
  margin-bottom: 0;
  content: "";
  clear: both;
}

#toc-content {
  margin-bottom: 0;
}

#toc-content,
#toc-content-mobile,
#backlinks-admonition,
#post-statistics {
  list-style: none;
  overflow: visible;
  max-height: none;
  transition: max-height 0.5s ease;
  position: relative;
  font-size: var(--font-size-minus-1);

  & > ul {
    padding-left: $base-margin !important;
  }

  & ul {
    --text-indent-multiplier: -0.75;

    list-style: none;
    padding: 0;
    line-height: 1.05em;
    margin-top: 0;
    margin-bottom: 0;

    // Stagger wrapped text
    text-indent: calc(var(--text-indent-multiplier) * $base-margin);
    margin-left: 0;

    & ul {
      font-size: 0.913em; // approx sqrt(1/1.2), where 1.2 is scale factor

      & li {
        padding-left: calc(0.75 * $base-margin - $base-margin * var(--text-indent-multiplier));
      }
    }

    &:not(:first-child) {
      margin-bottom: 0;
    }

    & > li {
      margin-bottom: calc(0.5 * $base-margin);
      overflow-y: visible;

      &:first-child {
        margin-top: calc(0.5 * $base-margin);
      }

      &:last-child {
        margin-bottom: calc(0.25 * $base-margin);
      }

      & > a {
        text-decoration: none;
        color: var(--midground);

        &.active {
          color: var(--midground-strong);
          text-shadow: 0.3px 0.3px var(--midground-strong);
        }
      }
    }
  }
}

#center-content #toc-content-mobile {
  & a,
  & a:visited {
    color: var(--foreground);
  }
}
